.loader-wrapper {
    position:fixed;
    display:block;
    width:100%;
    left:0;
    background: #fff;
    height: 100%;
    z-index:1;
  }
  .loader-content {
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
  }