<div class="row d-flex align-items-center mt-5">
    <div class="col">
        <p class="text-brand font-weight-bold">Hey, Welcome to Anky's Kitchen!</p>
        <h1 class="mb-4">Let's start cooking with popular recipes</h1>
        <p class="mb-0 text-black-50">Want to learn cook but consfused how to start?</p>
        <p class="mb-4 text-black-50">No need to worry again!</p>
        <button class="brand-btn">
            Explore Meal Categories
            <!-- <mat-icon class="v-align-middle pl-2">arrow_forward</mat-icon> -->
        </button>
        <button class="brand-btn-light ml-3" routerLink="/meal-of-the-day">
            Meal Of The Day
            <!-- <mat-icon class="v-align-middle pl-2">arrow_forward</mat-icon> -->
        </button>
    </div>
    <div class="col text-right">
        <img src="https://i.pinimg.com/originals/b3/aa/49/b3aa496cfe5ec68bda6d0ad56f8fa05d.png" width="95%" />
    </div>
</div>