<div class="mt-5">
    <div class="row d-flex justify-content-between">
        <div class="col-5">
            <img src="{{recipe?.strMealThumb}}" class="w-100 rounded img-thumbnail"/>
        </div>
        <div class="col-7">
            <h1>{{recipe?.strMeal}}</h1>
            <div class="d-flex">
                <div>{{recipe?.strCategory}}</div>
                <div>&nbsp; |&nbsp; {{recipe?.strArea}}</div>
                <div>&nbsp; |&nbsp; {{recipe?.ingredientsArr?.length}} Ingredients</div>
            </div>
            <div class="mt-5">
                <h3>Ingredients</h3>
                <div class="row d-flex justify-content-between">
                    <div class="col-6" *ngFor="let item of recipe?.ingredientsArr">
                        <ul>
                            <li>{{item.ingredient}} : {{item.measure}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            

                <!-- <div>
                    <h3>Recipe Tags</h3>
                    <mat-chip-list>
                        <mat-chip *ngFor="let tag of recipe?.strTags">
                            {{tag}}
                        </mat-chip>
                    </mat-chip-list>
                </div> -->
        </div>
    </div>
    <h3 class="mt-5 mb-2">Instructions</h3>
    <div class="row mb-5">
        <div class="col-7">
            <div style="white-space: break-spaces;">{{recipe?.strInstructions}}</div>
        </div>
        <div class="col-5" *ngIf="recipe?.strYoutube">
            <iframe width="100%" height="280" [src]="recipe?.strYoutube" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>